.addTask{
  width: 100%;
  border-radius: 20px;
  background-color: var(--colorSecondary);
  padding: 10px;

  &__add{
    text-align: center;
    &::placeholder{
      color: var(--colorPrimary);
    }
  }
}