.taskItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: var(--colorPrimary);
  min-height: 50px;
  padding: 15px;
  color: white;
  margin-bottom: 20px;

&--complete{
  text-decoration: line-through;
  opacity: 0.5;
}

  &__checkContainer{
    display: block;
    position: relative;
    user-select: none;
    height: 20px;
    width: 20px;
    
    &::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: goldenrod;
    }
  }

    &__checkbox{
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &__completed{
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      border: 1px solid white;
    }

    &__checkbox:checked ~ &__completed{
      background-color: white;
    }
  
  &__title{

  }

  &__delete{
    color: white;
    font-weight: bold;
  }
}