extends ../01_templates/template

block header
  header.header
    h1.title.t2 Lista de Tareas

block taskList
  section.taskContainer
    .addTask
      input(type="text" placeholder="Añade tu tarea").addTask__add
    ul.listTask