@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  font-size: 100%;
  font: inherit;
  list-style: none;
  text-decoration: none; }

input[type=text] {
  border-radius: 50px;
  border: 1px solid var(--colorSecondary); }

:root {
  --colorPrimary: #434343;
  --colorSecondary: #dedede;
  --colorAccent: #d4671f;
  --fontBase: 1rem;
  --fontRatio: 1.500;
  --t3: calc(var(--fontRatio) * var(--fontBase));
  --t2: calc(var(--fontRatio) * var(--t3));
  --t1: calc(var(--fontRatio) * var(--t2)); }

html {
  font-family: 'Montserrat', sans-serif; }

.t1 {
  font-size: --t2;
  line-height: calc(--t2*var(--fontRatio));
  font-weight: 600; }
  @media screen and (min-width: 1024px) {
    .t1 {
      font-size: var(--t1); } }

.t2 {
  font-size: --t3;
  line-height: calc(--t3*var(--fontRatio));
  font-weight: 600; }
  @media screen and (min-width: 1024px) {
    .t2 {
      font-size: var(--t2); } }

.t3 {
  font-size: --base;
  line-height: calc(--base*var(--fontRatio));
  font-weight: 600; }
  @media screen and (min-width: 1024px) {
    .t3 {
      font-size: var(--t3); } }

.header {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: var(--colorSecondary); }

.taskContainer {
  padding-top: 20px;
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 640px) {
    .taskContainer {
      width: 400px;
      min-height: 100%;
      margin-left: auto;
      margin-right: auto; } }

.listTask {
  border-left: 2px solid var(--colorAccent);
  border-right: 2px solid var(--colorAccent);
  padding: 20px; }

.addTask {
  width: 100%;
  border-radius: 20px;
  background-color: var(--colorSecondary);
  padding: 10px; }
  .addTask__add {
    text-align: center; }
    .addTask__add::-webkit-input-placeholder {
      color: var(--colorPrimary); }
    .addTask__add:-ms-input-placeholder {
      color: var(--colorPrimary); }
    .addTask__add::-ms-input-placeholder {
      color: var(--colorPrimary); }
    .addTask__add::placeholder {
      color: var(--colorPrimary); }

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: var(--colorPrimary);
  min-height: 50px;
  padding: 15px;
  color: white;
  margin-bottom: 20px; }
  .taskItem--complete {
    text-decoration: line-through;
    opacity: 0.5; }
  .taskItem__checkContainer {
    display: block;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    height: 20px;
    width: 20px; }
    .taskItem__checkContainer::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: goldenrod; }
  .taskItem__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .taskItem__completed {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid white; }
  .taskItem__checkbox:checked ~ .taskItem__completed {
    background-color: white; }
  .taskItem__delete {
    color: white;
    font-weight: bold; }

/*# sourceMappingURL=styles.css.map */
