:root{
  --colorPrimary: #434343;
  --colorSecondary: #dedede;
  --colorAccent: #d4671f;
  --fontBase: 1rem;
  --fontRatio: 1.500;
  --t3: calc(var(--fontRatio) * var(--fontBase));
  --t2: calc(var(--fontRatio) * var(--t3));
  --t1: calc(var(--fontRatio) * var(--t2));
}