@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
html{
  font-family: 'Montserrat', sans-serif;
}


.t1{
  @include fontSize(--t2, semibold);

  @include from(large){
    font-size: var(--t1);
  }
}

.t2{
  @include fontSize(--t3, semibold);

  @include from(large){
    font-size: var(--t2);
  }

}

.t3{
  @include fontSize(--base, semibold);

  @include from(large){
    font-size: var(--t3);
  }
}
